@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav>h1{
    font-size: 3rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    text-align: center;
}
.banner img{
    width: 100%;
}
.banner-h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: work sans;
}
.banner-p{
    color: #727272;
}
/* header end  */


main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-cont{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 80px 0px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-text{
    max-width: 530px;
}
.team-h1{
    font-size: 3rem;  
    color: gray;
    font-family: work sans;
    font-weight: 400;
}
#of{
    color: #131313;
    font-weight: 700;
}
#color{
    color: #fd9115;
    font-weight: 800;
}
/* facts section  */
.fact-h1{
    font-size: 3rem;
}
.fact-p{
    color: #727272;
}
.fact-cont{
    display: flex;
    justify-content: space-around;
    margin: 10rem auto;
}
.item{
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    padding-top: 4.5rem;
    width: 240px;
    height: 200px;
    box-shadow: 5px 5px 10px gray;
}
/* spondor section style  */
.sponsor-cont{
    margin-bottom: 130px;
}
.sponsor-cont h1{
    font-size: 3rem;
    text-align: center;
}
.sponsor-cont p{
    font-size: 1rem;
    color: #424242;
    text-align: center;
}
.sponsor-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}



/* responsive style  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
        width: 100%;
    }
    nav, .team-cont, .fact-cont, .sponsor-icon{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .item{
        width: 100%;
        margin-top: 20px;
    }
    .fact-cont{
        margin-top: 50px;
    }
    .sponsor-icon img{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .team-cont, .sponsor-icon{
        flex-direction: column;
    }
    .team-text{
        text-align: center;
    
    }
    header{
        padding: 25px;
        width: 100%;
    }
    .item{
        width: 180px;
        height: 200px;
    }
    .fact-cont{
        justify-content: center;
    }
    .sponsor-icon img{
        margin-bottom: 30px;
    }
}